@charset "UTF-8";
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

body {
  height: 100%;
  margin: 0;
  padding: 0; }
  body * {
    font-family: 'lota_grotesque_alt_2regular', "Helvetica Neue", sans-serif; }

html {
  height: 100%;
  font-size: 16px;
  background-color: #fefbd2; }
  @media screen and (min-width: 900px) {
    html {
      font-size: 18px; } }
  @media screen and (min-width: 1200px) {
    html {
      font-size: 20px; } }

.link {
  cursor: pointer;
  text-transform: uppercase;
  color: blue;
  padding: 1rem;
  display: block; }
  .link:hover::before {
    content: '«';
    color: blue; }
  .link:hover:after {
    content: '»';
    color: blue; }
  .link::before {
    content: '«';
    color: transparent; }
  .link:after {
    content: '»';
    color: transparent; }

.dark {
  background-color: #007a8a;
  color: #fefbd2; }
  .dark .link {
    color: white;
    text-transform: uppercase; }
    .dark .link:hover::before {
      content: '«';
      color: white; }
    .dark .link:hover:after {
      content: '»';
      color: white; }

.User .User__row {
  flex-grow: 1;
  display: flex;
  align-items: center; }
  .User .User__row img {
    margin: 0.25rem 1rem;
    display: block;
    flex-grow: 0;
    flex-shrink: 0; }

.User {
  min-width: 10rem; }
  .User .User__label {
    margin: 0.25rem 1rem;
    flex-grow: 1; }
