$secondaryColor: hsl(115, 35%, 73%);
$darkColor: hsl(187, 100%, 27%);
$navColorOnDark: hsl(0, 0%, 100%);
$navColorOnLight: hsl(240, 100%, 50%);
$lightColor: hsl(56, 95%, 91%);

$headerFont: lota_grotesque_alt_2exlight, "Helvetica Neue", sans-serif;
$headerPaddingHoriz: 1rem;
$headerPaddingVerti: 0.25rem;

@mixin largeFontSize() {
  font-size: 2rem;
  text-transform: uppercase;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  * {
    font-family: 'lota_grotesque_alt_2regular', "Helvetica Neue", sans-serif;
  }
}

html {
  height: 100%;
  font-size: 16px;
  background-color: $lightColor;

  @media screen and (min-width: 900px) {
    font-size: 18px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 20px;
  }
}

.link {
  cursor: pointer;
  text-transform: uppercase;
  color: $navColorOnLight;
  &:hover {
    &::before {
      content: '«';
      color: $navColorOnLight;
    }
    &:after {
      content: '»';
      color: $navColorOnLight;
    }
  }
  &::before {
    content: '«';
    color: rgba(0, 0, 0, 0);
  }
  &:after {
    content: '»';
    color: rgba(0, 0, 0, 0);
  }
  padding: 1rem;
  display: block;
}

.dark {
  background-color: $darkColor;
  color: $lightColor;
  .link {
    color: $navColorOnDark;
    text-transform: uppercase;
    &:hover {
      &::before {
        content: '«';
        color: $navColorOnDark;
      }
      &:after {
        content: '»';
        color: $navColorOnDark;
      }
    }
  }
}