$secondaryColor: hsl(115, 35%, 73%);
$darkColor: hsl(189, 100%, 20%);
$darkColorText: darken($darkColor, 8%);
$darkColorHover: darken($darkColor, 8%);
$navColorOnDark: hsl(0, 0%, 100%);
$navColorOnLight: hsl(240, 100%, 50%);
$lightColor: hsl(56, 95%, 91%);
$lightColorHover: saturate(darken($lightColor, 30%), 5%);
$subFontColor: transparentize($darkColor, 0.2);
$pathWidthSmall: 4rem;
$pathWidth: 8rem;

$headerFont: lota_grotesque_alt_1exLt, 'Helvetica Neue', Helvetica, sans-serif;

$contentHeaderFont: lota_grotesque_alt_1black, 'Helvetica Neue', Helvetica, sans-serif;
$subHeaderFontFamily: lota_grotesque_alt_1semibold, 'Helvetica Neue', Helvetica, sans-serif;

$largeFontSize: 2rem;
$bodyFontSize: 1.333rem;
$mediumScaledown: 0.8;
$largeScaleup: 1.15;
$baseFontSize: 16px;
$bodyLineHeight: 1.33;
$responsiveMedium: 900px;
$responsiveLarge: 1200px;

$headerPaddingHoriz: 1rem;
$headerPaddingVerti: 0.25rem;

$suffixColor: transparentize($lightColor, 0.5);

@mixin darkHover() {
  &:hover {
    background-color: $darkColorHover;
    color: $lightColorHover;
  }
}

@mixin leftMargin() {
  width: $pathWidth;
  @media screen and (max-width: $responsiveLarge) {
    width: $pathWidthSmall;
  }
}

@mixin largeFontSize($scale: 1) {
  line-height: $bodyLineHeight;
  font-size: $largeFontSize * $scale;
  @media screen and (max-width: $responsiveMedium) {
    font-size: $largeFontSize * $mediumScaledown * $scale;
  }
}

@mixin minorText {
  color: $subFontColor;
  font-family: lota_grotesque_alt_1light;
  font-weight: 300;
}

@mixin bodyFont($scale) {
  font-size: $scale * $bodyFontSize;
  line-height: $bodyLineHeight;
  @media screen and (max-width: $responsiveMedium) {
    font-size: $scale * $bodyFontSize * $mediumScaledown;
  }
  @media screen and (min-width: $responsiveLarge) {
    font-size: $scale * $bodyFontSize * $largeScaleup;
  }
}

@mixin headerStyle($scale: 1) {
  @include largeFontSize($scale);
  font-family: $headerFont;
  font-weight: 100;
  text-transform: uppercase;
}

@mixin contentHeaderStyle() {
  padding-top: 1rem;
  font-family: $contentHeaderFont;
  @include largeFontSize(1);
  text-transform: none;
}

.ifSmall {
  @media screen and (min-width: $responsiveMedium) {
    display: none !important;
  }
}

.ifNotSmall {
  @media screen and (max-width: $responsiveMedium) {
    display: none !important;
  }
}

.ifMedium {
  @media screen and (min-width: $responsiveLarge) {
    display: none !important;
  }
}

.ifNotMedium {
  @media screen and (max-width: $responsiveLarge) {
    display: none !important;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.pageHeader {
  @include contentHeaderStyle();
}

.pathSuffix {
  color: $suffixColor;
  text-transform: none !important;
}

.dark {
  background-color: $darkColor;
  color: $lightColor;
  .link {
    color: $navColorOnDark;
    text-transform: uppercase;
    &:hover {
      &::before {
        content: '«';
        color: $navColorOnDark;
      }
      &:after {
        content: '»';
        color: $navColorOnDark;
      }
    }
  }
}