@charset "UTF-8";
@import url(normalize.css);
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

.pageHeader {
  font-family: lota_grotesque_alt_1black, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 2rem;
  text-transform: none; }

.dark {
  background-color: #005766;
  color: #fefbd2; }
  .dark .link {
    color: white;
    text-transform: uppercase; }
    .dark .link:hover::before {
      content: '«';
      color: white; }
    .dark .link:hover:after {
      content: '»';
      color: white; }
