@import './../../style/styles';

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
  .App__content {
    flex: 1 1 auto;
    overflow-y: auto;
    min-height: 0px;
  }
}

#jumpsuit-root, #root {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'lota_grotesque_alt_2regular', "Helvetica Neue", sans-serif;
}

html {
  height: 100%;
  font-size: $baseFontSize;
  background-color: $lightColor;

  @media screen and (min-width: $responsiveMedium) {
    font-size: $largeFontSize;
  }

  @media screen and (min-width: $responsiveLarge) {
    font-size: $veryLargeFontSize;
  }
}