@charset "UTF-8";
@media screen and (min-width: 900px) {
  .ifSmall {
    display: none !important; } }

@media screen and (max-width: 900px) {
  .ifNotSmall {
    display: none !important; } }

@media screen and (min-width: 1200px) {
  .ifMedium {
    display: none !important; } }

@media screen and (max-width: 1200px) {
  .ifNotMedium {
    display: none !important; } }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

.pageHeader {
  padding-top: 1rem;
  font-family: lota_grotesque_alt_1black, "Helvetica Neue", Helvetica, sans-serif;
  line-height: 1.33;
  font-size: 2rem;
  text-transform: none; }
  @media screen and (max-width: 900px) {
    .pageHeader {
      font-size: 1.6rem; } }
  .pageHeader a {
    color: #005766;
    text-decoration: underline; }

.pathSuffix {
  color: rgba(254, 251, 210, 0.5);
  text-transform: none !important; }

.dark {
  background-color: #005766;
  color: #fefbd2; }
  .dark .link {
    color: white;
    text-transform: uppercase; }
    .dark .link:hover::before {
      content: '«';
      color: white; }
    .dark .link:hover:after {
      content: '»';
      color: white; }

.Admin {
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .Admin .Admin__frame {
    flex-shrink: 0;
    flex-basis: 80vw;
    padding: 3rem;
    max-width: 100vw;
    overflow-x: auto; }
    @media screen and (max-width: 900px) {
      .Admin .Admin__frame {
        padding: 1rem; } }

.Article {
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .Article .Article__frame {
    flex-shrink: 0;
    padding: 3rem;
    max-width: 100vw;
    overflow-x: auto; }
    @media screen and (max-width: 900px) {
      .Article .Article__frame {
        padding: 1rem; } }

.ArticleTitle .ArticleTitle__row {
  display: flex;
  width: 100%;
  flex-direction: row; }
  @media screen and (max-width: 900px) {
    .ArticleTitle .ArticleTitle__row {
      display: block; }
      .ArticleTitle .ArticleTitle__row .ArticleTitle__rowCell {
        display: inline; }
        .ArticleTitle .ArticleTitle__row .ArticleTitle__rowCell h1 {
          display: inline; } }
  .ArticleTitle .ArticleTitle__row .ArticleTitle__rowCell {
    flex-grow: 100; }
  .ArticleTitle .ArticleTitle__row.ArticleTitle__row-top {
    align-items: flex-end;
    border-bottom: 1px solid #005766;
    margin-bottom: 0.5rem; }
  .ArticleTitle .ArticleTitle__row .ArticleTitle__rowCell-description {
    color: #005766; }
  @media screen and (min-width: 900px) {
    .ArticleTitle .ArticleTitle__row .ArticleTitle__rowCell-head {
      line-height: 1.33;
      font-size: 2.66rem;
      font-family: lota_grotesque_alt_1exLt, "Helvetica Neue", Helvetica, sans-serif;
      font-weight: 100;
      text-transform: uppercase;
      flex-basis: 18rem;
      flex-shrink: 0;
      flex-grow: 0.25;
      text-align: right;
      margin-right: 1rem; } }
  @media screen and (min-width: 900px) and (max-width: 900px) {
    .ArticleTitle .ArticleTitle__row .ArticleTitle__rowCell-head {
      font-size: 2.128rem; } }
  @media screen and (max-width: 900px) {
    .ArticleTitle .ArticleTitle__row .ArticleTitle__rowCell-head {
      color: #005766;
      text-transform: Uppercase; }
      .ArticleTitle .ArticleTitle__row .ArticleTitle__rowCell-head.ArticleTitle__rowCell-directory {
        padding-top: 1rem;
        font-family: lota_grotesque_alt_1black, "Helvetica Neue", Helvetica, sans-serif;
        line-height: 1.33;
        font-size: 2rem;
        text-transform: none; } }
    @media screen and (max-width: 900px) and (max-width: 900px) {
      .ArticleTitle .ArticleTitle__row .ArticleTitle__rowCell-head.ArticleTitle__rowCell-directory {
        font-size: 1.6rem; } }
  @media screen and (max-width: 900px) {
      .ArticleTitle .ArticleTitle__row .ArticleTitle__rowCell-head:after {
        content: ': '; } }
