@import '../../style/styles';

.Article {
  display: flex;
  flex-direction: row;
  justify-content: center;
  .Article__frame {
    padding: 3rem;
    max-width: 100vw;
    overflow-x: auto;
    @media screen and (max-width: $responsiveMedium) {
      padding: 1rem;
    }
  }
}

.ArticleTitle {
  .ArticleTitle__row {
    @media screen and (max-width: $responsiveMedium) {
      display: block;
      .ArticleTitle__rowCell {
        h1 {
          display: inline;
        }
        display: inline;
      }
    }
    display: flex;
    width: 100%;
    flex-direction: row;
    .ArticleTitle__rowCell {
      flex-grow: 100;
    }
    &.ArticleTitle__row-top {
      align-items: flex-end;
      border-bottom: 1px solid $darkColor;
      margin-bottom: 0.5rem;
    }
    .ArticleTitle__rowCell-description {
      color: $darkColor;
    }
    .ArticleTitle__rowCell-head {
      @media screen and (min-width: $responsiveMedium) {
      @include headerStyle(1.33);
      flex-basis: 18rem;
      flex-shrink: 0;
      flex-grow: 0.25;
      text-align: right;
        margin-right: 1rem;
    }
      @media screen and (max-width: $responsiveMedium) {
        &.ArticleTitle__rowCell-directory {
          @include contentHeaderStyle();
        }
        color: $darkColor;
        text-transform: Uppercase;
        &:after {
          content: ': ';
        }
      }
    }
  }
}